**/*.factorypath*
**/*eclipse*
**/*settings*
**/*bin
**/*project
*.classpath
*.vscode
**/tools/**
**/ics_idea/**
/log.txt
/maven.log
/sonar-project.properties
/target

/hs_err_pid30128.log
/catalina.bat
/batch-oracle.properties
/batch-admin-dummy-business-schema.sql
